<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học Go</title>
    <link rel="shortcut icon" href="images/linhan.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./assets/styles.css">
</head>
<body>
    <div>
        <h1>
            Cuộc sống sinh viên Việt đảo lộn khi đại học Mỹ đóng cửa vì dịch
        </h1>
        <a><b>Trọng Thuấn</a></b>
        -
        <span>Thứ bảy, 14/3/2020 11:57 (GMT+7)</span>
        <h4><b>Dịch Covid-19 lan rộng ở Mỹ buộc nhiều đại học gần như đóng cửa, khiến du học sinh Việt gặp nhiều xáo trộn. Mọi dự định từ du lịch, tốt nghiệp, xin việc bỗng trở nên bất trắc.</b></h4>
    
    
        <p>
            Đang bận rộn với tuần thi hết kỳ, Nguyễn Văn Vũ Đạt, 22 tuổi, học năm thứ hai tại Trường Nghệ thuật và Thiết kế Savannah, nhận thông báo học kỳ sau trường chuyển sang học online.
        </p>
    
        <p>
            “Sáng nay em thi hết môn, phải thuyết trình, mà đọc tin nhắn xong em không thuyết trình nổi luôn”, Đạt nói với 
            <i>Zing.vn</i>. 
            “Không thể tập trung được”.
        </p>
    
        <p>
            Tính đến cuối ngày 13/3, Mỹ có ít nhất 1.714 ca nhiễm virus corona ở 47 tiểu bang và Washington, D.C., và ít nhất 41 ca tử vong, theo thống kê của 
            <i>New York Times</i>.
        </p>
    
        <div style="font-size: 13px">
            Tổng thống Trump dự kiến tuyên bố tình trạng khẩn cấp quốc gia vào chiều ngày 13/3 (giờ Mỹ), theo 
            <i>New York Times</i>. 
            Ảnh: 
            <i>New York Times.</i>
        </div>
        <div style="text-align: center;">
            <h3>Phải chọn “đi hay ở” trong hai ngày</h3>
        </div>
    </div>
</body>
</html>